.scrollable-div {
  overflow-y: scroll;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.scrollable-div::-webkit-scrollbar {
  width: 0; /* For Chrome, Safari, and Opera */
}
